@page "/"

@inject IDataAccess dal
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid

<h1>Kids</h1>

@if (data == null || DataStore.Family == null)
{
    <p>Loading data...</p>
}
else if (DataStore.Family.Children.Count == 0)
{
    <i>
        On this page, you can add new kids:
    </i>
}
else
{
    <i>
        On this page, you can view/edit existing kids as well as add new kids:
    </i>

    <section style="margin-left: 1rem;">
        @* TODO: move style to a CSS child-section class *@

        <h3>@EditExistingChildText</h3>

        <section style="margin-left: 1rem;">
            @* TODO: move style to a CSS child-section class *@
            <QuickGrid Items="@data" Class="full-width-column">
                <TemplateColumn Class="full-width-column">
                    <div class="content-card"
                         title="Click to edit @context.ChildDetails.FullName"
                         style="cursor: pointer;"
                         @onclick="@(() => NavigateToEdit(context))"
                         @onclick:stopPropagation="false">
                        <h4>@context.ChildDetails.FullName</h4>

                        <div>
                            <div>Age @context.ChildDetails.Age (@context.ChildDetails.Birthday.ToString("d"))</div>
                            @if (!string.IsNullOrWhiteSpace(context.ChildDetails.Names))
                            {
                                <div><i>@context.ChildDetails.Names</i></div>
                            }
                        </div>

                        @if (!string.IsNullOrWhiteSpace(context.ChildDetails.Photo.ImageSource))
                        {
                            <div><img src="@context.ChildDetails.Photo.ImageSource" height="100" width="100" /></div>
                        }

                        <div class="actions">
                            <div title="Remove @context.ChildDetails.GivenName"
                                 @onclick="@((e) => NavigateToRemove(context, e))"
                                 @onclick:stopPropagation="true"
                                 style="cursor: pointer;">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </div>
                </TemplateColumn>
            </QuickGrid>
        </section>

        @if (UserNeedsToUpdateInfo)
        {
            @* TODO: move styles to custom.scss file *@
            <div style="padding: 1rem; background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba; border-radius: 5px;">
                The last time you updated any child info was @LastDateTimeAnyChildWasUpdatedAsync. We encourage you to update details with the most up to date info.
            </div>
        }
    </section>
}

<section style="margin-left: 1rem;">
    @* TODO: move style to a CSS child-section class *@
    <h3>Add a new child</h3>

    <section style="margin-left: 1rem;">
        @* TODO: move style to a CSS child-section class *@
        <i>
            Tap
            <button type="button"
                    class="btn-icon"
                    title="Add new child"
                    @onclick="@(() => NavigationManager.NavigateTo("/Child/-1"))">
                <i class="fas fa-plus" />
            </button>
            to add a child.
        </i>
    </section>
</section>
