@page "/childFriends/{id:int}"

@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@inherits PageBase

@{
    base.BuildRenderTree(__builder);
}

<ion-content class="ion-padding">

@if (CurrentChild == null || Friends == null)
{
    <ion-card>
        <ion-card-content class="ion-text-center">
            <ion-spinner></ion-spinner>
            <p>Loading...</p>
        </ion-card-content>
    </ion-card>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>

    @if (Friends != null && Friends.Count() > 0)
    {
        @foreach (var person in Friends)
        {
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="4" size-sm="3">
                        <ion-label>Name:</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-text>
                            <p>@person.GivenName @person.FamilyName</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" size-sm="3">
                        <ion-label>Phone:</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-text>
                            <p>@person.PhoneNumber</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" size-sm="3">
                            <ion-label>Address:</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-text>
                            <p>@person.Address</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
        <div style="margin-top: 1rem; text-align: right;">
            <ion-button fill="clear" color="primary" href="/Friend/@Id/@person.Id" title="Edit">
                <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" href="/FriendRemove/@Id/@person.Id" title="Delete">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </div>
    </ion-card>
        }
    }

    <div class="ion-padding">
        <ion-button expand="block" color="success" @onclick="@(() => NavigationManager.NavigateTo($"/Friend/{Id}/-1"))">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Add Friend
        </ion-button>
    </div>
}
</ion-content>
