@page "/childFriends/{id:int}"
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@inject Data.IDataAccess dal
@inject NavigationManager navigationManager

@if (CurrentChild == null || Friends == null)
{
    <h2>Friends</h2>
    <p>Loading...</p>
}
else
{
    <h2><a href="/Child/@id">@CurrentChild.GivenName</a></h2>
    <p></p>
    <h3>Friend List</h3>
    <p></p>
    <table class="table table-striped" style="border: 1px solid black;margin-top:10px;">
        <thead style="background-color:lightblue;">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Family Name</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Address</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody style="background-color:lightyellow;">
            @if (Friends != null && Friends.Count() > 0)
            {
                @foreach (var person in Friends)
                {
                    <tr style='vertical-align:central'>

                        <td class="text-center">@person.GivenName</td>
                        <td class="text-center">@person.FamilyName</td>
                        <td class="text-center">@person.PhoneNumber</td>
                        <td class="text-center">@person.Address</td>
                        <td class="text-center"><a href="/Friend/@id/@person.Id" style="text-decoration:none">Edit</a></td>
                        <td class="text-center"><a href="/FriendRemove/@id/@person.Id" style="text-decoration:none">Remove</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <p></p>
    <div><a href="/Friend/@id/-1" style="text-decoration:none">➕</a></div>
}

@code {
    [Parameter]
    public int id { get; set; }
    Data.ChildDetails? CurrentChild;
    IEnumerable<Data.Person>? Friends;

    protected override void OnParametersSet()
    {
        if (Main.Family is not null)
        {
            CurrentChild = Main.Family.Children[id].ChildDetails;
            Friends = Main.Family.Children[id].Friends;
        }
    }

}
