@page "/"

@using KidsIdKit.Core.Services
@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid

<h1>Kids</h1>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

@if (data == null || FamilyState.Family == null)
{
    <p>Loading data...</p>
}
else if (FamilyState.Family.Children.Count == 0)
{
    <i>
        On this page, you can add new kids:
    </i>
}
else
{
    <i>
        On this page, you can view/edit existing kids as well as add new kids:
    </i>

    <section style="margin-left: 1rem;">
        @* TODO: move style to a CSS child-section class *@

        <h3>@EditExistingChildText</h3>

        <section style="margin-left: 1rem;">
            @* TODO: move style to a CSS child-section class *@
            @* Remind every

            <InputSelect @bind-Value="SelectedNumberOfDaysToRemind">
                @foreach (var possibleNumberOfDaysToRemind in AllPossibleNumberOfDaysToRemind)
                {
                    <option value="@possibleNumberOfDaysToRemind">@possibleNumberOfDaysToRemind</option>
                }
            </InputSelect> *@

            @*             <InputSelect Value="SelectedNumberOfDaysToRemind"
                         ValueChanged="@EventCallback.Factory.Create<int>(this, OnSelectedNumberOfDaysToRemindChanged)"
                         ValueExpression="@(() => SelectedNumberOfDaysToRemind)">
                @foreach (var possibleNumberOfDaysToRemind in AllPossibleNumberOfDaysToRemind)
                {
                    <option value="@possibleNumberOfDaysToRemind">@possibleNumberOfDaysToRemind</option>
                }
            </InputSelect>
 *@
            @* <InputSelect @bind-Value:get="selectedNumberOfDaysToRemind"
                         @bind-Value:set="SetSelected">
                <option value="">Select an option</option>
                @foreach (var possibleNumberOfDaysToRemind in AllPossibleNumberOfDaysToRemind)
                {
                    <option value="@possibleNumberOfDaysToRemind">@possibleNumberOfDaysToRemind</option>
                }
            </InputSelect> *@
            @* days to update info. about @ExistingChildText: *@

            <section style="margin-left: 1rem;">
                @* TODO: move style to a CSS child-section class *@
                <QuickGrid Items="@data" Class="full-width-column">
                    <TemplateColumn Class="full-width-column">
                        <div class="content-card"
                             title="Click to edit @context.ChildDetails.FullName"
                             style="cursor: pointer;"
                             @onclick="@(() => NavigateToEdit(context))"
                             @onclick:stopPropagation="false">
                            @* TODO: move style to custom.scss file *@
                            <h4>@context.ChildDetails.FullName</h4>

                            <div>
                                <div>Age @context.ChildDetails.Age (@context.ChildDetails.Birthday.ToString("d"))</div>
                                @if (!string.IsNullOrWhiteSpace(context.ChildDetails.Names))
                                {
                                    <div><i>@context.ChildDetails.Names</i></div>
                                }
                            </div>

                            @if (!string.IsNullOrWhiteSpace(context.ChildDetails.Photo.ImageSource))
                            {
                                <div><img src="@context.ChildDetails.Photo.ImageSource" height="100" width="100" /></div>
                            }

                            <div class="actions">
                                <div title="Remove @context.ChildDetails.GivenName"
                                     @onclick="@((e) => NavigateToRemove(context, e))"
                                     @onclick:stopPropagation="true"
                                     style="cursor: pointer;">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </div>
                    </TemplateColumn>
                </QuickGrid>
            </section>
        </section>

        @if (UserNeedsToUpdateInfo)
        {
            @* TODO: move styles to custom.scss file *@
            <div style="padding: 1rem; background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba; border-radius: 5px;">
                The last time you updated any child info was @LastDateTimeAnyChildWasUpdatedAsync. We encourage you to update details with the most up to date info.
            </div>
        }
    </section>
}

<section style="margin-left: 1rem;">
    @* TODO: move style to a CSS child-section class *@
    <h3>Add a new child</h3>

    <section style="margin-left: 1rem;">
        @* TODO: move style to a CSS child-section class *@
        <i>
            Tap
            <button type="button"
                    class="btn-icon"
                    title="Add new child"
                    @onclick="@(() => NavigationManager.NavigateTo("/Child/-1"))">
                <i class="fas fa-plus" />
            </button>
            to add a child.
        </i>
    </section>
</section>
