@page "/childDistinguishingFeatures/{Id:int}"

@using Microsoft.AspNetCore.Components.QuickGrid;
@using KidsIdKit.Core.Data
@using KidsIdKit.Core.Services

@inject IFamilyStateService FamilyState
@inject NavigationManager NavigationManager

@inherits PageBase

@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">

@if (CurrentChild == null || Features == null)
{
    <ion-card>
        <ion-card-content class="ion-text-center">
            <ion-spinner></ion-spinner>
            <p>Loading...</p>
        </ion-card-content>
    </ion-card>
}
else
{
    <ion-card>
        <ion-card-header>
            <ion-card-title>@CurrentChild.FullName</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-list lines="none">
    @foreach (var distinguishingFeature in Features)
    {
        <ion-card button @onclick="@(() => NavigationManager.NavigateTo($"/Feature/{Id}/{distinguishingFeature.Id}"))" style="cursor: pointer; margin-bottom: 1rem;">
            <ion-card-content>
                <ion-text>
                    <p>@distinguishingFeature.Description</p>
                </ion-text>

                @if (!string.IsNullOrWhiteSpace(distinguishingFeature.Photo.ImageSource))
                {
                    <div style="text-align: center; margin-top: 1rem;">
                        <ion-img src="@distinguishingFeature.Photo.ImageSource"
                            alt="Photo of distinguishing feature"
                            style="max-width: 200px; height: auto;"></ion-img>
                    </div>
                }
            </ion-card-content>
            <div style="margin-top: 1rem; text-align: right;">
                    <ion-button fill="clear" color="danger" @onclick="() => ShowAlert(distinguishingFeature)" @onclick:stopPropagation="true">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </div>
        </ion-card>
    }
    </ion-list>

    <McmAlert Header=@AlertTitle Message=@AlertMessage ConfirmPrompt="Yes" CancelPrompt="No" Show="@AlertShow" StateInformation="@AlertStateInformation" AlertClosed="async ((McmAlert.AlertAction action, string stateInformation) response) => await DeleteResponse(response.stateInformation, response.action)" />
    <div class="ion-padding">
        <ion-button expand="block" color="success" @onclick="@(() => NavigationManager.NavigateTo($"/Feature/{Id}/-1"))">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Add Distinguishing Feature
        </ion-button>
    </div>
}
</ion-content>
