@page "/Feature/{childId:int}/{featureId:int}"

@using System.ComponentModel.DataAnnotations;

@inherits PageBase

@{
    base.BuildRenderTree(__builder);
}
<ion-content class="ion-padding">

<div class="alert-danger">@messageText</div>

@if (CurrentChild == null || DistinguishingFeature == null)
{
    <h2>@PageTitle</h2>
    <p>Loading...</p>
}
else
{
    <h2>@CurrentChild.FullName</h2>
    <p></p>
    <h3>@PageTitle</h3>
    <p></p>

    bool photoExists = !string.IsNullOrWhiteSpace(DistinguishingFeature.Photo.ImageSource);

    <EditForm Model="DistinguishingFeature" OnSubmit="SaveData">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ion-grid>
            <EditTextRow @bind-Value="DistinguishingFeature.Description" />
            <ion-col size="5" size-sm="3">
                <ion-label>Photo:</ion-label>
                                    @if (!SelectingImage)
                    {
                        <br />

                        <br />
                        <button class="btn btn-link" type="button" @onclick="() => SelectingImage = true">
                            @(photoExists ? "Change" : "Add") photo
                        </button>
                    }

            </ion-col>
            <ion-col>
                    @if (SelectingImage)
                    {
                        <PhotoPicker Complete="(selectedPhoto) =>   {
                                                                        DistinguishingFeature.Photo = selectedPhoto;
                                                                        SelectingImage = false;
                                                                    }"
                                     Cancel="() => SelectingImage = false" />
                    }
                    else
                    {
                        @if (photoExists)
                        {
                            <div>
                                <img src="@DistinguishingFeature.Photo.ImageSource" class="img-fluid" style="max-height:40vh" title="Photo of child" alt="Photo of child" />
                            </div>
                        }
                    }
            </ion-col>
        </ion-grid>
        <ion-button expand="block" type="submit" color="success">
            <ion-icon slot="start" name="save"></ion-icon>
            Save
        </ion-button>
    </EditForm>
}
</ion-content>