@inherits LayoutComponentBase
@using KidsIdKit.Core.Services

@inject IDataAccess dal
@inject NavigationManager navigationManager
@inject ISessionService SessionService
@inject IAppInformation AppInformation

<ion-menu content-id="main-content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Kids Id Kit</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        @{
            string currentGroup = string.Empty;
        }
        @foreach (var item in menuItems.OrderBy(m => m.Group))
        {
            if (!string.IsNullOrEmpty(currentGroup) && currentGroup != item.Group)
            {
                <ion-item-divider color="secondary" style="height: 5px; min-height: 5px;"></ion-item-divider>
            }
            currentGroup = item.Group;

        <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" color="@item.Color"
                @onclick="() => NavigateToUri(item.Uri)">
                @if (@item.UseIcon)
                {
                <ion-icon slot="start" name="@item.Image"></ion-icon>
                }
                else
                {
                <ion-thumbnail slot="start">
                    <img src="@item.Image" />
                </ion-thumbnail>
                }
                <ion-label>@item.Caption</ion-label>
            </ion-item>
        </ion-menu-toggle>
        }
        <div class="ion-padding" slot="fixed" style="bottom: 5px;left:5px;right:5px">
            <div style="font-size: 1rem; font-weight: 600;">Version:</div>
            <ion-label>@AppInformation.VersionName</ion-label>
        </div>
    </ion-content>
</ion-menu>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu
                                        ? "collapse"
                                        : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<MenuItem> menuItems = new List<MenuItem>();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        menuItems.Clear();
        if (!SessionService.IsInfoOnlyMode)
        {
            menuItems.Add(new MenuItem
                {
                    Caption = "Kids",
                    Uri = "/",
                    Color = "light",
                    Image = "Kid.ico",
                    Group = "A"
                });
            menuItems.Add(new MenuItem
                {
                    Caption = "Information",
                    Uri = "/Information",
                    Color = "default",
                    Image = "Information-icon.png",
                    Group = "A"
                });
            menuItems.Add(new MenuItem
                {
                    Caption = "Export Data",
                    Uri = "/Export",
                    Color = "default",
                    Image = "Save.png",
                    Group = "A"
                });
            menuItems.Add(new MenuItem
                {
                    Caption = "About",
                    Uri = "/About",
                    Color = "default",
                    Image = "About.png",
                    Group = "A"
                });
            menuItems.Add(new MenuItem
            {
                Caption = "Settings",
                Uri = "/Settings",
                Color = "default",
                Image = "settings-outline",
                UseIcon = true,
                Group = "B"
            });
        }
        else
        {
            menuItems.Add(new MenuItem
                {
                    Caption = "Information",
                    Uri = "/Information",
                    Color = "light",
                    Image = "Information-icon.png",
                    Group = "A"
                });   
        }
    }

    void NavigateToUri(string uri)
    {
        navigationManager.NavigateTo(uri);
        foreach (var oMenuItem in menuItems)
        {
            oMenuItem.Color = uri == oMenuItem.Uri ? "light" : "default";
        }

    }

    class MenuItem
    {
        public string Caption { get; set; } = string.Empty;
        public string Uri { get; set; } = string.Empty;
        public string Color { get; set; } = string.Empty;
        public string Image { get; set; } = string.Empty;
        public bool UseIcon { get; set; } = false;
        public string Group { get; set; } = string.Empty;
    }
}
